install: gradle wrapper --gradle-version 4.2

language: java

jdk:
  - oraclejdk8

addons:
  apt:
    packages:
      - oracle-java8-installer

notifications:
  slack: chatbotmasi:zv0Nf5p417Z0FC3CWFu1LT3B
  email:
    recipients:
      - 199184@edu.p.lodz.pl